{% extends "layout.html" %}

{% block title %}
It's my uncle's webday!
{% endblock %}

{% block div %}{% endblock %}

{% block main %}
    <style>
        body {
            background: url(https://media.giphy.com/media/vmon3eAOp1WfK/giphy.gif);
            background-size: 25%;
        }
    </style>
    <div class="jumbotron">
          <h1 class="display-4">It's my uncle's <span style="color: blue;">w</span><span style="color: red;">e</span><span style="color: orange;">b</span><span style="color: green;">d</span><span style="color: blue;">a</span><span style="color: red;">y</span>!</h1>
          <p class="lead">Happ...ем Рожденья, дядя Володя!</p>
          <hr class="my-4">
          <p>Я долго думал, как было бы интересно Вас поздравить. Думал и смотрел гифки. Черт, куда-то не туда я зашел. Однако, в итоге, вот что получилось ¯\_(ツ)_/¯</p>
          <p>В Ваш webday, помимо завсегдашнего и великого <b>"шастья, здоровья"</b>, хотел бы провести аналогию Дней Рождений как чекпоинтов в жизни, между которыми человеку дана вохможность <b>делать/изменять/творить</b>. И, рассматривая их с такой точки зрения, хочу пожелать <b>максимально много внутренних и внешних ресурсов</b>, дающих силы для свершения максимально многого.</p>
          <br />
          <p><span style="color: violet;">#include</span> &lt;stdio.h&gt;</p>
          <p><span style="color: violet;">#include</span> &lt;cs50.h&gt;</p>
          <br />
          <p><span style="color: violet;">int</span> main(<span style="color: violet;">void</span>)</p>
          <p>{</p>
          <p>   <span style="color: violet;">string</span> VinovnikTorzhestva = "Ryabov Vladimir Olegovich"</p>
          <p>   <span style="color: violet;">printf</span>(<span style="color: green">"Happy Birthday, <span style="color: orange;">%s</span>!<span style="color: orange;">\n</span>"</span>, VinovnikTorzhestva)</p>
          <p>}</p>
    </div>
{% endblock %}
